$font:            'Open Sans', 'Arial', sans-serif;
$font-light:      300;
$font-regular:    400;
$font-bold:       800;
$text-size:       13px;
$text-size--headings: 24px;
$line-height:     27px;
$line-height--headings: 30px;

$bg-color:        #ffffff;
$bg-color--dark:  #1d2631;
$bg-color--light: #f2f2f2;
$text-color:      #283645;
$link-color:      #d22856;
$white:           #ffffff;
$black:           #000000;
$pink:            #d22856;

$dir:             "../img";