$html-size-base:        10px;

$text-size:             1.4rem;
$text-size--h1:         2.4rem;
$text-size--h2:         1.8rem;

$font:                  'Open Sans', 'Arial', sans-serif;

$bg-color:        #ffffff;
$bg-color--dark:  #1d2631;
$bg-color--light: #f2f2f2;
$text-color:      #283645;
$link-color:      #d22856;
$border-grey:     #e5e5e5;
$border-dark:     #283645;
$border-cross:    #333333;
$white:           #ffffff;
$black:           #000000;
$pink:            #d22856;
$btn:             #2aab6d;

$screen_md:       700px;
$screen_lg:       1200px;