html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font: 400 1.4rem/1.9 "Open Sans", "Arial", sans-serif;
  color: $blue;
  background-color: #ffffff;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  max-width: 100%;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
}