html {
  box-sizing: border-box;
  font-size: $html-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 320px;
  font: 400 #{$text-size}/1.9em $font;
  color: $text-color;
  background-color: $bg-color;
  margin: 0;
 }

h1 {
  font: 300 #{$text-size--headings}/1.2em $font;
  color: $text-color;
}

.page-title {
  margin: 19px 0 29px;
  font: 300 #{$text-size--headings}/1.2em $font;
  text-align: center;
  color: $white;
}

.second-title {
  margin: 0;
  margin-bottom: 40px;
  font: 300 #{$text-size--headings}/1.2em $font;
  text-align: center;
  color: $text-color;

  &__text {
    display: block;
    margin-bottom: 30px;
  }
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: $white;

  &--transparent {
    padding: 14px 0;
    font: 800 18px/1.2em $font;
    background-color: transparent;
    border: 3px solid $white;
    border-radius: 25px;
  }
}