.blog-post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  border-bottom: 1px solid $grey;

  @media (min-width: $screen-md) {
    margin: 0 80px;
    padding-bottom: 41px;
    border-bottom: 2px dotted $grey;
  }

  @media (min-width: $screen-lg) {
    margin: 0 70px;
    padding-bottom: 44px;
  }

  &:before {
    content: none;

    @media (min-width: $screen-md) {
      content: "";
      position: absolute;
      top: 50px;
      left: -57px;
      width: 28px;
      height: 26px;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMiAzIDI4IDI2Ij48cGF0aCBmaWxsPSIjRDIyODU2IiBkPSJNMjkgM0gzYy0uNTUyIDAtMSAuNDQ4LTEgMXMuNDQ4IDEgMSAxaDI1djE2SDE1Yy0uMDQgMC0uMDc2LjAxOC0uMTE2LjAyMy0uMDY3LjAwOC0uMTMuMDE4LS4xOTUuMDQtLjA3LjAyLS4xMjguMDUyLS4xODguMDg3LS4wMzMuMDItLjA3LjAyNS0uMTAyLjA1TDggMjZ2LTRjMC0uNTUzLS40NDgtMS0xLTFINFY4YzAtLjU1Mi0uNDQ4LTEtMS0xcy0xIC40NDgtMSAxdjE0YzAgLjU1My40NDggMSAxIDFoM3Y1YzAgLjM4LjIxNC43MjUuNTUzLjg5NS4xNC4wNy4yOTUuMTA1LjQ0Ny4xMDUuMjEyIDAgLjQyMy0uMDY2LjYtLjJsNy43MzMtNS44SDI5Yy41NTMgMCAxLS40NDcgMS0xVjRjMC0uNTUyLS40NDctMS0xLTF6Ii8+PC9zdmc+");
    }

    @media (min-width: $screen-lg) {
      top: 56px;
      left: -58px;
    }
  }

  &__title {
    margin: 0;
    padding: 22px 0 7px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $blue;

    @media (min-width: $screen-md) {
      padding: 43px 0 10px;
      font-size: 2.7rem;
      line-height: 1.11;
    }

    @media (min-width: $screen-lg) {
      padding: 49px 0 10px;
    }
    
    a {
      text-decoration: none;
      color: $blue;
    }
  }

  &__date {
    display: block;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: $pink;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      padding-bottom: 22px;
      font-size: 1.4rem;
    }
  }

  &__text p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.93;
    color: $blue;

    @media (min-width: $screen-md) {
      font-size: 1.8rem;
      line-height: 1.67;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }

  &--header {
    padding-bottom: 24px;
    text-align: center;

    @media (min-width: $screen-md) {
      margin: 0;
      padding-bottom: 44px;
    }

    &:before {
      content: none;
    }

    .blog-post__title {
      padding: 22px 0 23px;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.2;

      @media (min-width: $screen-md) {
        order: 1;
        padding: 22px 0 24px;
        font-size: 5rem;
      }
    }

    .blog-post__date {

      @media (min-width: $screen-md) {
        order: 3;
        position: absolute;
        bottom: -11px;
        left: 50%;
        padding: 0 25px;
        transform: translate(-50%, 0);
        background-color: #ffffff;
      }
    }

    .blog-post__text {

      @media (min-width: $screen-md) {
        order: 2;
      }

      p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.69;

        @media (min-width: $screen-md) {
          font-size: 2.4rem;
        }
      }
    }
  }
}