.btn {
  display: block;
  width: 100%;
  padding: 19px 0 20px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: fade_out(#ffffff, 0.7);
  }

  &--transparent {
    padding: 14px 0;
    text-transform: none;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 25px;

    &:hover {
      background-color: #ffffff;
      color: $pink;
    }

    &:active {
      background-color: #ffffff;
      color: fade_out($pink, 0.7);
    }
  }

  &--form-send {

    @media (min-width: $screen-md) {
      width: 48%;
    }

    @media (min-width: $screen-lg) {
      width: 300px;
    }
  }

  &--send {
  }

  &--failure {
  }
}
