.contacts {
  position: relative;
  text-align: center;

  &__inner {
    position: relative;
    padding: 43px 20px 0;
    background-color: #ffffff;

    @media (min-width: $screen-md) {
      padding: 44px 20px 0;
    }

    @media (min-width: $screen-lg) {
      padding: 64px 0 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 4px;
    }

    @media (min-width: $screen-lg) {
      width: $screen-lg;
      margin: 0 auto;
      padding: 4px 10px 0;
    }
  }

  &__item {

    @media (min-width: $screen-md) {
      width: 290px;
    }

    &--tel {

      @media (min-width: $screen-lg) {
        order: 1;
      }
    }

    &--mail {

      @media (min-width: $screen-lg) {
        order: 3;
      }
    }

    &--address {

      @media (min-width: $screen-lg) {
        order: 2;
      }
    }

    &:not(:last-child) {
      margin-bottom: 22px;

      @media (min-width: $screen-md) {
        margin-bottom: 47px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 31px;
      }
    }

    a:hover {
      color: $blue;
      text-decoration: underline;
    }

    a:active {
      color: fade_out($blue, 0.7);
      text-decoration: none;
    }
  }

  &__item-title {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    color: $blue;

    @media (min-width: $screen-md) {
      padding-bottom: 8px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 25px;
    }
  }

  &__item-text {
    display: block;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
    text-decoration: none;
    color: $pink;
  }
}