.download-app {
  padding: 28px 20px 30px;
  text-align: center;
  background-color: $bg-color--dark;
  color: $white;

  @media (min-width: $screen_md) {
    position: absolute;
    top: 378px;
    left: 3%;
    width: 300px;
    padding: 0;
    background-color: transparent;
  }

  @media (min-width: $screen_lg) {
    top: 450px;
    left: 10px;
  }

  &__logos {
    padding: 32px 0 22px;

    @media (min-width: $screen_md) {
      padding: 45px 0 36px;
    }

    @media (min-width: $screen_lg) {
      padding: 63px 0 58px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__descr {
    font: 300 #{$text-size}/1.75em $font;

    @media (min-width: $screen_md) {
      font: 300 18px/1.33em $font;
    }
  }
}