.logo {  //module6 svg  comming soon
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 50;
  text-decoration: none;

  @media (min-width: $screen_md) {
    top: 27px;
    left: 40px;
  }

  &:hover .logo__glasses,
  &:hover .logo__text {
    fill: $pink;
  }

  &:active .logo__glasses,
  &:active .logo__text {
    fill: $bg-color;
    opacity: 0.7;
  }

  &__glasses {
    display: none;

    @media (min-width: $screen_md) {
      display: inline-block;
      margin-right: 8px;
      fill: $bg-color;
    }
  }

  &__text {
    fill: $bg-color;
  }

  &--glasses {
    position: relative;
    left: 0;
    top: 0;

    &:active .logo__text {
      fill: $text-color;
    }

    &:active .logo__glasses {
      fill: $pink;
    }

    .logo__text {
      fill: $text-color;
    }

    .logo__glasses {
      display: inline-block;
      margin-right: 8px;
      fill: $pink;
    }

    @media (min-width: $screen_md) {
      top: -6px;
      width: 180px;
      text-align: left;
    }
  }
}