.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 50;
  text-decoration: none;

  @media (min-width: $screen-md) {
    top: 27px;
    left: 20px;
  }

  @media (min-width: $screen-lg) {
    left: 10px;
  }

  &:hover .logo__glasses,
  &:hover .logo__text,
  &:hover .logo__stars--glasses,
  &:hover .logo__stars--text {
    fill: $pink;
  }

  &:active .logo__glasses,
  &:active .logo__text,
  &:active .logo__stars--glasses,
  &:active .logo__stars--text {
    fill: #ffffff;
    opacity: 0.7;
  }

  &__glasses {
    display: none;

    @media (min-width: $screen-md) {
      display: inline-block;
      margin-right: 8px;
      fill: #ffffff;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__text {
    fill: #ffffff;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__stars {
    display: none;

    @media (min-width: $screen-lg) {
      display: inline-block;
      fill: $pink;
    }

    &--glasses,
    &--text {

      @media (min-width: $screen-lg) {
        fill: #ffffff;
      }
    }

    &--stars {

      @media (min-width: $screen-lg) {
        fill: $pink;
      }
    }
  }

  &--glasses {
    position: relative;
    left: 0;
    top: 0;

    @media (min-width: $screen-md) {
      top: -6px;
      width: 180px;
      text-align: left;
    }

    &:hover .logo__stars--stars {
      fill: $pink;
    }

    &:active .logo__text {
      fill: $blue;
    }

    &:active .logo__glasses {
      fill: $pink;
    }

    &:active .logo__stars--glasses {
      fill: $pink;
      opacity: 0.7;
    }

    &:active .logo__stars--text {
      fill: $blue;
      opacity: 0.7;
    }

    .logo__text {
      fill: $blue;
    }

    .logo__glasses {
      display: inline-block;
      margin-right: 8px;
      fill: $pink;

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    .logo__stars {

      &--glasses {

        @media (min-width: $screen-lg) {
          fill: $pink;
        }
      }

      &--text,
      &--stars {

        @media (min-width: $screen-lg) {
          fill: $blue;
        }
      }
    }
  }
}