@mixin text-replacement {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin placeholder($color) {
  &::-moz-placeholder { color: $color; opacity: 1; }
  &::-webkit-input-placeholder { color: $color; opacity: 1; }
  &:-moz-placeholder { color: $color; opacity: 1; }
  &:-ms-input-placeholder { color: $color; opacity: 1; }
}