.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2000;
  margin: 0 auto;
  padding: 45px 0 0;
  background-color: $bg-color;
  text-align: center;
  box-shadow: 0 0 15px 7px rgba(0,1,1,0.15);

  @media (min-width: $screen_md) {
    width: 460px;
    padding: 35px 0 0;
  }

  @media (min-width: $screen_lg) {
    width: 780px;
    padding: 40px 0 0;
  }

  &--show {
    display: block;
    animation: bounce 0.6s;
  }

  &--success {

  }

  &--failure {

  }

  &__title {
    padding: 0 20px 30px;
    font: 800 #{$text-size--h2}/1.33em $font;
    color: $black;

    @media (min-width: $screen_md) {
      padding: 0 80px 23px;
      font: 800 30px/1.33em $font;
    }

    @media (min-width: $screen_lg) {
      padding: 0 160px 28px;
    }
  }

  &__text {
    padding-bottom: 35px;

    @media (min-width: $screen_md) {
      padding-bottom: 33px;
    }

    p {
      margin: 0;
      padding: 0 20px;
      font: 400 #{$text-size}/1.71em $font;
      color: $text-color;

      @media (min-width: $screen_md) {
        padding: 0 80px;
        font: 400 18px/1.33em $font;
      }

      @media (min-width: $screen_lg) {
        padding: 0 200px;
      }
    }
  }

  &__button {

    &--success {
      padding: 48px 20px 52px;
      background-color: $bg-color--light;

      @media (min-width: $screen_md) {
        padding: 48px 80px 52px;
      }

      @media (min-width: $screen_lg) {
        padding: 48px 160px 52px;
      }
    }

    &--failure {
      padding: 23px 20px 50px;
      background-color: $bg-color;

      @media (min-width: $screen_md) {
        padding: 5px 80px 52px;
      }

      @media (min-width: $screen_lg) {
        padding: 5px 160px 52px;
      }
    }
  }
}