.num-pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 23px 0 17px;
  margin-left: -9px;

  @media (min-width: $screen_md) {
    padding: 17px 0 39px;
    margin-left: -11px;
  }

  @media (min-width: $screen_lg) {
    padding: 49px 0 23px;
  }

  &:before {
    content: none;

    @media (min-width: $screen_md) {
      content: "стр.";
      position: absolute;
      top: 37px;
      left: -49px;
      text-decoration: none;
      text-transform: uppercase;
      font: 800 18px/1.25em $font;
      color: $text-color;
    }

    @media (min-width: $screen_lg) {
      top: 69px;
    }
  }

  &__item {
    margin: 0 0 10px 9px;
    padding: 18px 24px 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $border-grey;
    border-radius: 2px;
    font: 800 18px/1.25em $font;
    color: $text-color;

    @media (min-width: $screen_md) {
      margin: 0 0 10px 11px;
    }

    &:hover,
    &:active {
      border-color: $pink;
    }

    &--active {
      border-color: $pink;
    }
  }
}