.page-footer {
  position: relative;
  padding-top: 35px;
  background-color: $bg-color;
  text-align: center;

  &__inner {
    padding: 0 20px 45px;
  }

  &__social {
    margin-top: 40px;
  }

  &__copyright {
    margin-top: 40px;

    a {
      position: relative;
      padding-right: 42px;
      color: $text-color;
      text-decoration: none;

      &:after {
        content: '';
        position: absolute;
        top: -5px;
        width: 100%;
        height: 34px;
        background: $bg-color url('../img/logo_ha.png') no-repeat 15px 0;
      }
    }
  }
}



