.page-title {
  margin: 19px 0 29px;
  font: 300 #{$text-size--h1}/1.2em $font;
  text-align: center;
  color: $white;
}

// Планшетная версия

@media (min-width: $screen_md) {

  .page-title {
    margin: 60px 0 50px;
    font: 300 50px/1.2em $font;

    &--index {
      position: absolute;
      top: 202px;
      left: 6%;
      width: 300px;
      margin: 0;
      font-size: 40px;
    }
  }
}