.page-footer {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 45px;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: $screen-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 39px 20px 37px;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg;
    margin: 0 auto;
    padding: 77px 10px 75px;
  }

  &__social {
    margin-top: 40px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__copyright {
    margin-top: 40px;

    @media (min-width: $screen-md) {
      width: 180px;
      margin-top: 0;
      text-align: right;
    }

    a {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9;
      color: $blue;
      text-decoration: none;

      &:hover svg {
        fill: $blue;
      }

      &:active svg {
        fill: fade_out($blue, 0.7);
      }

      @media (min-width: $screen-lg) {
        font-size: 1.8rem;
        line-height: 1.2;
      }
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 13px;
      fill: $pink;
    }
  }

  &--index {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}