.post {
  padding: 12px 20px 0;
  background-color: #ffffff;

  @media (min-width: $screen-md) {
    padding: 54px 20px 0;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg;
    margin: 0 auto;
    padding: 76px 70px 0;
  }

  &__content {
    padding-top: 28px;

    @media (min-width: $screen-md) {
      padding-top: 0;
      margin-top: -2px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -7px;
    }
    
    h2 {
      margin: 0 0 20px;
      padding: 0;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 1.7;
      color: $blue;
      text-transform: uppercase;

      @media (min-width: $screen-md) {
        margin: 57px 0 22px;
        font-size: 2.4rem;
        line-height: 1.25;
      }
    }
    
    p {
      margin: 0;
      padding: 0 0 29px;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9;
      color: $blue;

      @media (min-width: $screen-md) {
        margin: 22px 0 30px;
        padding: 0;
        font-size: 1.8rem;
        line-height: 1.67;
      }
    }

    a {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9;
      color: $pink;
      text-decoration: underline;

      @media (min-width: $screen-md) {
        font-size: 1.8rem;
        line-height: 1.67;
      }
    }
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: $pink;

      @media (min-width: $screen-md) {
        padding: 0 0 7px;
      }

      li {
        position: relative;
        padding: 0 0 27px 21px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.9;
        color: $blue;

        @media (min-width: $screen-md) {
          padding: 0 0 30px 35px;
          font-size: 1.8rem;
          line-height: 1.67;
        }

        &:before {
          content: "";
          position: absolute;
          top: 10px;
          left: 0;
          width: 6px;
          height: 7px;
          background-color: $pink;
          border-radius: 50%;
        }
      }
    }

    blockquote {
      margin: 0 0 35px;
      padding-left: 20px;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9;
      color: $blue;
      border-left: 2px solid $pink;

      @media (min-width: $screen-md) {
        font-size: 1.8rem;
        line-height: 1.67;
      }
    }

    cite {
      display: block;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9;
      color: #8a8a8a;
      font-style: italic;

      @media (min-width: $screen-md) {
        font-size: 1.8rem;
        line-height: 1.67;
        font-style: italic;
      }
    }
  }
}