.price {
  position: relative;
  padding: 125px 0 36px;
  background-color: $grey-light;

  @media (min-width: $screen-md) {
    margin-top: -11px;
    padding: 109px 20px 68px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 0;
    padding: 143px 0 95px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOTQuMDc0IiB2aWV3Qm94PSIwIDAgMTIwMCA5NC4wNzQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMjAwIDBIMHY5NC4wNzQiLz48L3N2Zz4=") no-repeat 50% 0;
    background-size: 1200px 94px;

    @media (min-width: $screen-lg) {
      background-size: 100% 94px;
    }
  }

  &__inner {
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: $screen-lg) {
      width: $screen-lg;
      padding: 0 10px;
    }
  }

  &__table {
    width: 265%;
    margin: 0 20px;
    border-collapse: collapse;
    background-color: #ffffff;

    @media (min-width: $screen-md) {
      width: 100%;
      margin: 0;
    }

    th {
      position: relative;
      overflow: hidden;
      padding: 17px 20px 20px;
      background-color: $blue;
      border-right: 2px solid $grey;
      text-align: center;

      &:first-child,
      &:last-child {
        border-right: 0;
      }

      @media (min-width: $screen-md) {
        width: 25%;
        padding: 12px 20px 13px;

        &:first-child {
          background-color: $grey-light;
        }
      }

      @media (min-width: $screen-lg) {
        padding: 17px 20px 20px;
      }
    }

    td {
      position: relative;
      padding: 15px 18px 14px 20px;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.15;
      border: 2px solid $grey;
      color: $blue;

      @media (min-width: $screen-md) {
        padding: 7px 18px 8px 20px;
      }

      @media (min-width: $screen-lg) {
        padding: 18px;
        font-size: 1.8rem;
        line-height: 1.2;
      }
    }
  }

  &__main-column {
    display: none;

    @media (min-width: $screen-md) {
      display: table-cell;
    }
  }

  &__item {
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__no {
    position: absolute;
    @include text-replacement;
    bottom: 17px;
    right: 19px;
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNi43NTIgMjYuNzUyIj4NCiAgPHBhdGggZD0iTTE1LjQ5NyAxMy4zNzZMMjYuMzEyIDIuNTYyYy41ODYtLjU4NS41ODYtMS41MzUgMC0yLjEycy0xLjUzNS0uNTg3LTIuMTIgMEwxMy4zNzUgMTEuMjU0IDIuNTYyLjQ0Yy0uNTg2LS41ODctMS41MzUtLjU4Ny0yLjEyIDAtLjU4Ny41ODQtLjU4NyAxLjUzNCAwIDIuMTJsMTAuODEzIDEwLjgxNUwuNDQgMjQuMTljLS41ODcuNTg2LS41ODcgMS41MzUgMCAyLjEyLjI5Mi4yOTQuNjc2LjQ0IDEuMDYuNDRzLjc2OC0uMTQ2IDEuMDYtLjQ0bDEwLjgxNi0xMC44MTNMMjQuMTkgMjYuMzEyYy4yOTMuMjkzLjY3Ny40NCAxLjA2LjQ0cy43Ny0uMTQ3IDEuMDYyLS40NGMuNTg2LS41ODYuNTg2LTEuNTM1IDAtMi4xMkwxNS40OTcgMTMuMzc1eiIgZmlsbD0iI2YyNWIyNiIvPg0KPC9zdmc+DQo=");

    @media (min-width: $screen-md) {
      bottom: 9px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    @media (min-width: $screen-lg) {
      bottom: 18px;
    }
  }

  &__yes {
    position: absolute;
    @include text-replacement;
    bottom: 18px;
    right: 18px;
    width: 30px;
    height: 22px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMC4zNzUgMjEuNjg4Ij4NCiAgPHBhdGggZD0iTTI5LjkzNi40NGMtLjU4Ni0uNTg3LTEuNTM1LS41ODctMi4xMiAwTDEwLjE4NyAxOC4wNjUgMi41NiAxMC40NGMtLjU4NS0uNTg3LTEuNTM0LS41ODctMi4xMiAwcy0uNTg2IDEuNTM0IDAgMi4xMmw4LjY4OCA4LjY4OGMuMjkzLjI5My42NzcuNDQgMS4wNi40NHMuNzctLjE0NyAxLjA2Mi0uNDRMMjkuOTM2IDIuNTZjLjU4NS0uNTg1LjU4NS0xLjUzNSAwLTIuMTJ6IiAgZmlsbD0iIzNkYzY0NCIvPg0KPC9zdmc+DQo=");

    @media (min-width: $screen-md) {
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    @media (min-width: $screen-lg) {
      bottom: 18px;
    }
  }

  &__price-type {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.75;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: $screen-md) {
      font-style: 1.6rem;
    }

    @media (min-width: $screen-lg) {
      font-style: 1.8rem;
    }
  }

  &__price-usd {
    display: block;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: $screen-md) {
      font-size: 1.8rem;
    }

    @media (min-width: $screen-lg) {
      font-size: 2.4rem;
    }
  }

  &__hit{
    position: absolute;
    top: 18px;
    left: 10px;
    transform: rotate(-45deg);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: $screen-md) {
      top: 10px;
      left: 6px;
    }

    @media (min-width: $screen-lg) {
      top: 18px;
      left: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100px;
      height: 30px;
      top: -6px;
      left: -35px;
      background: $pink none repeat scroll 0 0;
    }
  }
}