.price {
  position: relative;
  padding: 90px 0 40px 0;
  background-color: $bg-color--light;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to bottom right, $bg-color 50%, $bg-color--light 50%);
  }

  &__table {
    margin: 0 auto;
    width: 98%;
    border-collapse: collapse;

    th {
      position: relative;
      padding: 20px;
      background-color: $bg-color--dark;
      text-align: center;
    }

    td {
      padding: 18px;
      font: 400 #{$text-size}/2.15em $font;
      text-transform: uppercase;
      border: 2px solid #e5e5e5;
      background-color: $white;
      color: $text-color;
    }
  }

  &__no {
    @include text-replacement;
    float: right;
    width: 27px;
    height: 27px;
    background: url("../img/no.svg") no-repeat 0 0;
  }

  &__yes {
    @include text-replacement;
    float: right;
    width: 30px;
    height: 22px;
    background: url("../img/yes.svg") no-repeat 0 0;
  }

  &__price-type {
    display: block;
    font: 800 18px/1.75em $font;
    text-transform: uppercase;
    color: $white;
  }

  &__price-usd {
    display: block;
    font: 300 24px/1.25em $font;
    text-transform: uppercase;
    color: $white;
  }

  &__hit{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 74px;
    height: 73px;
    background: url("../img/flag_hit.png") no-repeat top left;
  }
}

// Планшетная версия

@media (min-width: $screen_md) {

  .price .slider-pagination {
    display: none;
  }
}