.promo-research {
  display: none;

  @media (min-width: $screen_md) {
    display: block;
    background-color: $bg-color;
  }

  @media (min-width: $screen_lg) {
    background-color: $bg-color--light;
  }

  &__wrapper {

    @media (min-width: $screen_md) {
      display: flex;
      align-items: center;
      padding: 57px 20px 26px;
    }

    @media (min-width: $screen_lg) {
      width: $screen_lg;
      margin: 0 auto;
      padding: 45px 10px 66px;
    }
  }

  &__clock {

    @media (min-width: $screen_md) {
      position: relative;
      flex-shrink: 0;
      width: 262px;
      height: 302px;
      background: url("../img/timer.svg") no-repeat 0 0;
      background-size: 262px 302px;
    }

    @media (min-width: $screen_lg) {
      width: 301px;
      height: 346px;
      background: url("../img/timer-dark.svg") no-repeat 0 0;
      background-size: 301px 346px;
    }
  }

  &__hours {

    @media (min-width: $screen_md) {
      position: absolute;
      top: 64px;
      left: 24px;
      width: 214px;
      height: 214px;
      padding: 40px 20px;
      box-shadow: inset 0 0 0 11px $pink;
      border-radius: 50%;
      font: 800 105px/1.2em $font;
      text-align: center;
      color: $pink;
    }

    @media (min-width: $screen_lg) {
      top: 74px;
      left: 28px;
      width: 246px;
      height: 246px;
      padding: 43px 20px;
      box-shadow: inset 0 0 0 13px $pink;
      font: 800 120px/1.2em $font;
    }
  }

  &__info {

    @media (min-width: $screen_md) {
      padding-top: 6px;
      padding-left: 48px;
    }

    @media (min-width: $screen_lg) {
      padding-top: 35px;
      padding-left: 65px;
    }
  }

  &__title {

    @media (min-width: $screen_md) {
      padding: 0 40px 20px 0;
      font: 800 30px/1.2em $font;
      color: $black;
    }
  }

  &__descr p {

    @media (min-width: $screen_md) {
      margin: 0;
      padding-bottom: 20px;
      font: 400 #{$text-size}/1.71em $font;
      color: $text-color;
    }

    @media (min-width: $screen_lg) {
      font: 400 18px/1.67em $font;
    }
  }

  &__more a {

    @media (min-width: $screen_md) {
      font: 400 #{$text-size}/1.71em $font;
      color: $pink;
      text-decoration: underline;
    }

    @media (min-width: $screen_lg) {
      font: 400 18px/1.67em $font;
    }
  }
}