.second-title {
  margin: 0;
  padding: 0 20px;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.2;
  text-align: center;
  color: $blue;

  @media (min-width: $screen-md) {
    margin: 0 0 31px;
    font-size: 4rem;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg;
    margin: 0 auto;
    padding: 0 10px 53px;
    font-size: 5rem;
  }

  &__text {
    display: block;
    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &--br {
    margin: 0 auto 35px;

    @media (min-width: $screen-md) {
      margin: 0 auto 40px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 auto;
    }

    .second-title__text {
      margin-bottom: 0;
    }
  }
}