.slider {
  position: relative;
  text-align: center;
  
  &--reviews {

  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;

    @media (min-width: $screen_lg) {
      padding: 0 105px;
    }
  }

  &__author {
    order: 1;
    margin-bottom: 18px;
    font: 800 #{$text-size--h2}/1.2em $font;
    color: $black;

    @media (min-width: $screen_md) {
      order: 2;
      margin-bottom: 20px;
      padding-top: 37px;
      font-size: 20px;
    }

    @media (min-width: $screen_lg) {
      font-size: 24px;
    }
  }

  &__author-about {
    display: none;

    @media (min-width: $screen_md) {
      display: block;
      padding-top: 12px;
      font: 400 #{$text-size}/1.2em $font;
      color: $text-color;
    }

    @media (min-width: $screen_lg) {
      padding-top: 7px;
      font-size: 18px;
    }
  }

  p {
    order: 2;
    font: 400 #{$text-size}/2.15em $font;
    color: $text-color;

    @media (min-width: $screen_md) {
      order: 1;
      font: 400 18px/1.67em $font;
    }

    &:before {
      content: "\00ab";

      @media (min-width: $screen_lg) {
        content: none;
      }
    }

    &:after {
      content: "\00bb";

      @media (min-width: $screen_lg) {
        content: none;
      }
    }
  }
}