.slider {
  position: relative;
  text-align: center;
  
  &--reviews {

  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;

    @media (min-width: $screen-lg) {
      padding: 0 105px;
    }
  }

  &__author {
    order: 1;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #000000;

    @media (min-width: $screen-md) {
      order: 2;
      margin-bottom: 20px;
      padding-top: 37px;
      font-size: 20px;
    }

    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &__author-about {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      padding-top: 12px;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.2;
      color: $blue;
    }

    @media (min-width: $screen-lg) {
      padding-top: 7px;
      font-size: 18px;
    }
  }

  p {
    order: 2;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.15;
    color: $blue;

    @media (min-width: $screen-md) {
      order: 1;
      font-size: 1.8rem;
      line-height: 1.67;
    }

    &:before {
      content: "«";

      @media (min-width: $screen-lg) {
        content: none;
      }
    }

    &:after {
      content: "»";

      @media (min-width: $screen-lg) {
        content: none;
      }
    }
  }
}