.social-links { //module4-task1  comming soon
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    background-color: $bg-color;
    box-shadow: 0 0 0 3px $border-grey;
    border-radius: 50%;
  }

  &__item-tw {
    background: $bg-color url('../img/icon_tw.png') no-repeat 50% 50%;   //svg  comming soon
  }

  &__item-fb {
    background: $bg-color url('../img/icon_fb.png') no-repeat 50% 50%;   //svg  comming soon
  }

  &__item-yt {
    background: $bg-color url('../img/icon_yt.png') no-repeat 50% 50%;   //svg  comming soon
  }
}