.social-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    width: 45px;
    height: 45px;
    @include text-replacement;
    line-height: 45px;
    text-decoration: none;
    background-color: $bg-color;
    box-shadow: 0 0 0 3px fade_out($border-dark, 0.9);
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 0 3px $border-dark;
    }

    &:active {
      box-shadow: 0 0 0 3px fade_out($border-dark, 0.9);

      svg {
        opacity: 0.3;
      }
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    fill: $pink;
  }
}