.text-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 0 4px;

  @media (min-width: $screen_md) {
    flex-wrap: nowrap;
    padding: 23px 0 8px;
  }

  @media (min-width: $screen_lg) {
    padding: 26px 0 0;
  }

  &__item {
    width: 46%;
    margin-bottom: 20px;
    padding: 18px 24px 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $border-grey;
    border-radius: 2px;
    font: 800 18px/1.25em $font;
    color: $text-color;

    @media (min-width: $screen_md) {
      width: 22.5%;
    }

    @media (min-width: $screen_lg) {
      width: 31.7%;
      margin-bottom: 5px;
    }

    &:hover,
    &:active {
      border-color: $pink;
    }

    &--prevous {
      @media (min-width: $screen_md) {
        order: 1;
      }
    }

    &--next {
      @media (min-width: $screen_md) {
        order: 3;
      }
    }

    &--back {
      width: 100%;

      @media (min-width: $screen_md) {
        order: 2;
        width: 48%;
      }

      @media (min-width: $screen_lg) {
        width: 33.5%;
      }
    }

    &--active {
      border-color: $pink;
    }
  }
}