b,
strong {
  font-weight: 700;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $blue;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.7;
  color: $blue;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9;
  color: $blue;
}

blockquote {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.93;
  color: $blue;
}